// .h1,
// h1,
// .h2,
// h2,
// .h3,
// h3,
// .h4,
// h4 {
//   line-height: calc(#{$RATIO} * 0.8);
//   font-family: $FONT_HEADINGS;
//   font-weight: 900;
//   hyphens: none;
// }
// .h1,
// h1 {
//   font-size: $SCALE-3;
// }
// .h2,
// h2 {
//   font-size: $SCALE-2;
// }
// .h3,
// h3 {
//   font-size: $SCALE-1;
// }
// .h4,
// h4 {
//   font-size: $SCALE-0;
// }
// .h5,
// h5 {
//   font-size: $SCALE-0;
// }

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $FONT_HEADINGS;
  line-height: 1.1;
  color: $black;
  hyphens: none;
}

h1 {
  font-size: var(--step-3);
  max-width: 16ch;

  --flow-space: 2rem;
}

h2 {
  font-weight: 500;
  font-size: var(--step-2);

  --flow-space: 1.5rem;
}

h3 {
  font-weight: 500;
  font-size: var(--step-1);

  --flow-space: 1rem;
}

h2,
h3 {
  max-width: 30ch;
}

h4 {
  max-width: 35ch;
  font-size: var(--step-0);

  --flow-space: .8rem;
}

h1 + p {
  margin-top: 1rem;
}

p {
  max-width: 60ch;
  margin: 0;

  --flow-space: .5rem;
}

em {
  color: var(--gray);
}

ul:not([class]),
ol:not([class]) {
  padding-left: 1.5em;
}

li:not([class]) {
  padding-left: 0.25em;
}

blockquote {
  margin-left: 1em;
  padding-left: 1em;
  border-left: solid 10px $COLOR_MID;
  font-style: italic;
}

table {
  border-collapse: collapse;
}

td,
th {
  border: solid 1px $COLOR_MID;
  text-align: left;
  padding: 0.25em 0.75em;
}

pre:not([class]),
code:not([class]) {
  display: inline-block;
  font-size: 0.85rem;
  font-family: $FONT_MONO;
  background: $COLOR_LIGHTER;
  border: solid 1px $COLOR_LIGHT;
}

pre:not([class]) {
  min-width: 300px;
  padding: 5px 10px;
}

code:not([class]) {
  padding: 0 5px;
}

pre:not([class]) code:not([class]) {
  font-size: 0.85rem;
  font-family: inherit;
  background: none;
  border: none;
  padding: 0;
}

pre {
  padding: $SCALE_2;
}

pre code {
  background: transparent;
}
