/**
 * WRAPPER
 * Sets a max width, adds a consistent gutter and horizontally
 * centers the contents
 */
 .wrapper {
  max-width: 37rem;
  width: clamp(20rem, 90vw, 37rem);
  margin: 0 auto;
  padding-inline-start: .9rem;
  padding-inline-end: .9rem;
  position: relative;
}

/**
 * FLOW
 * Sets spacing above each child element 
 */
.flow > * + * {
  margin-top: 1em;
  margin-top: var(--flow-space, 1em);
}

.visually-hidden {
  clip: rect(0 0 0 0);
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

.skip-content:focus {
  top: 0;
  border: 0;
  clip: unset;
  height: auto;
  margin: 0;
  overflow: visible;
  padding: 0;
  width: auto;
  white-space: wrap;
}

.invert-link {
  text-decoration: none;
}

.invert-link:hover,
.invert-link:focus {
  text-decoration: underline;
}

.theme-bg {
  background: var(--THEME_BACKGROUND, white);
}
.theme-color {
  color: var(--THEME_COLOR, black);
}

.theme-hightlight {
  color: var(--THEME_HIGHTLIGHT, yellow);
}
